<div class="p-3">
    <div class="card shadow ms-5 me-5">
        <div class="card-header">
            <h3>Formulaire de mise à jour d'une catégorie</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" *ngIf="categorieForm">
                    <form [formGroup]="categorieForm" (ngSubmit)="updateCategorie()">
                        <div>
                            <label class="form-label">Désignation</label>
                            <input class="form-control" formControlName="designation">
                        </div>
                        <div class="mt-2">
                            <button [disabled]="categorieForm.invalid" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>